.div-r {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-r {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.h2-r {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-r {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}